应用场景：在日常活动中，分配任务时，需要随机抽取几个人。用数字代替人物，实现随机抽取。

实现：一个网页app

技术选择：
1. html
2. css
3. js
4. 本地安装tailwindcss
5.npm run build 之后将生成的静态文件放到dist文件夹

要求：
1. 随机抽取
2. 抽取人数可配置，总人数也可配置
3. 支持重新抽取

性能要求：
1. 页面加载速度快
2. 页面响应速度快
3. 用简洁的代码实现


美观要求：
1. 页面简洁
2. 页面自适应
3. 页面颜色美观现代
4. 响应式布局设计